@use 'rs';
@use 'color';

/* Blog CSS */

.blog-card {
   transition-duration: 350ms;
   border-radius: 18px;
   overflow: hidden;

   img {
      border-radius: 18px 18px 0 0;
      width: 100%;
      transition-duration: 350ms;
   }

   .post-img {
      overflow: hidden;
   }

   .post-body {
      padding: 24px 28px;
      border: 1px solid color.$border;
      border-top: 0;
      border-radius: 0 0 18px 18px;
   }

   .blog-meta {
      margin-bottom: 10px;

      a {
         color: color.$text;
         font-size: 16px;
         font-weight: 400;
         display: block;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }

      .dot {
         width: 5px;
         height: 5px;
         background-color: color.$text;
         border-radius: 50%;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$heading;
      font-weight: 600;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size 0.5s ease;

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }

   .read-more-btn {
      margin-top: 16px;
      color: color.$primary;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;
      transition-duration: 350ms;

      i {
         font-size: 20px;
      }

      &:hover,
      &:focus {
         color: color.$primary-hover;
         gap: 10px;
      }
   }

   &:hover,
   &:focus {
      img {
         transform: scale3d(1.05, 1.05, 1.05);
         filter: blur(1px);
      }
   }

   &.style-two {
      border-radius: 18px;
      background: color.$secondary;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;

      .post-img {
         flex: 0 0 35%;
         width: 35%;
         border-radius: 18px 0 0 18px;
         overflow: hidden;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;

         @media #{rs.$bp-sm} {
            flex: 0 0 45%;
            width: 45%;
         }

         img {
            width: 100%;
            border-radius: 18px 0 0 18px;
            height: 100%;
            object-fit: cover;
         }
      }

      .post-body {
         flex: 0 0 65%;
         width: 65%;
         border: 0;
         padding: 30px 20px;
         margin-left: 35%;

         @media #{rs.$bp-sm} {
            flex: 0 0 55%;
            width: 55%;
            margin-left: 45%;
         }

         @media #{rs.$bp-md} {
            padding: 40px 30px;
         }
      }

      .btn {
         height: 52px;
      }
   }

   &.style-three {
      border-radius: 18px;
      background: color.$secondary;
      display: flex;
      flex-direction: column;

      .post-img {
         border-radius: 18px 18px 0 0;
         overflow: hidden;

         img {
            width: 100%;
            border-radius: 18px 18px 0 0;
         }
      }

      .post-body {
         border: 0;
         padding: 20px 30px 30px 30px;
      }

      .btn {
         height: 52px;
      }
   }

   &.style-four {
      border-radius: 18px;
      background: color.$secondary;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;

      .post-img {
         flex: 0 0 35%;
         width: 35%;
         border-radius: 0 18px 18px 0;
         overflow: hidden;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         margin-left: 65%;

         @media #{rs.$bp-sm} {
            flex: 0 0 45%;
            width: 45%;
            margin-left: 55%;
         }

         img {
            width: 100%;
            border-radius: 0 18px 18px 0;
            height: 100%;
            object-fit: cover;
         }
      }

      .post-body {
         flex: 0 0 65%;
         width: 65%;
         border: 0;
         padding: 30px 20px;

         @media #{rs.$bp-sm} {
            flex: 0 0 55%;
            width: 55%;
         }

         @media #{rs.$bp-md} {
            padding: 40px 30px;
         }
      }

      .btn {
         height: 52px;
      }
   }
}

.blog-small-card {
   border-radius: 18px;
   transition-duration: 350ms;

   img {
      border-radius: 18px;
      width: 100%;
   }

   &:hover,
   &:focus {
      transform: translateY(-8px);
   }
}

/* Single Blog */

.blog-widget {
   background-color: color.$secondary;
   padding: 40px 36px;
   border-radius: 18px;
   width: 100%;

   form {
      display: flex;
      align-items: center;
      gap: 12px;

      .form-control {
         background-color: color.$white;
         border-radius: 8px;
         height: 50px;
         color: color.$text;

         &::placeholder {
            color: color.$text;
            opacity: 0.7;
         }

         &:focus {
            box-shadow: none;
            border-color: color.$primary;
         }
      }

      button {
         transition-duration: 350ms;
         width: 58px;
         flex: 0 0 58px;
         height: 50px;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: color.$primary;
         color: color.$secondary;
         border-radius: 8px;
         border: 0;

         &:hover,
         &:focus {
            background-color: color.$bg;
            color: color.$white;
         }
      }
   }
}

.blog-list {
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: column;
   margin-bottom: 0;

   li {
      a {
         border-top: 1px dashed color.$border;
         border-bottom: 1px dashed color.$border;
         color: color.$text;
         font-size: 16px;
         padding: 1rem 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-weight: 400;

         @media #{rs.$bp-xl} {
            font-size: 18px;
         }

         span {
            font-size: 14px;
            font-weight: 400;

            @media #{rs.$bp-xl} {
               font-size: 18px;
            }
         }

         &:hover,
         &:focus {
            color: color.$primary;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
         }
      }
   }
}

.widget-blog-post {
   display: flex;
   flex-direction: column;
   gap: 20px;

   .blog-thumbnail {
      border-radius: 10px;

      img {
         width: 100%;
         border-radius: 18px;
      }
   }

   .blog-content {
      a {
         margin-bottom: 0.25rem;
         font-size: 16px;
         display: block;
         font-weight: 600;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         margin-bottom: 0;

         @media #{rs.$bp-xl} {
            font-size: 20px;
         }

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }

      p {
         font-size: 16px;
      }
   }
}

.tag-list {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;

   a {
      padding: 6px 20px;
      height: 40px;
      color: color.$heading;
      font-size: 16px;
      font-weight: 400;
      display: block;
      border-radius: 6px;
      background-color: color.$white;
      transition-duration: 500ms;

      &:hover,
      &:focus {
         background-color: color.$primary;
         color: color.$white;
      }
   }
}

.softora-pagination {
   display: flex;
   align-items: center;
   gap: 12px;
   justify-content: center;

   li {
      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 36px;
         height: 36px;
         border-radius: 6px;
         font-size: 14px;
         font-weight: 600;
         background-color: color.$secondary;
         color: color.$heading;

         @media #{rs.$bp-sm} {
            width: 42px;
            height: 42px;
            font-size: 16px;
         }

         @media #{rs.$bp-md} {
            width: 48px;
            height: 48px;
         }

         @media #{rs.$bp-xl} {
            width: 60px;
            height: 60px;
         }

         &:hover,
         &:focus {
            background-color: color.$primary;
            color: color.$white;
         }
      }

      &.active {
         a {
            background-color: color.$primary;
            color: color.$white;
         }
      }
   }
}

.blog-quote {
   border-radius: 18px;
   background: color.$secondary;
   padding: 30px 24px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   p {
      color: color.$text;
      font-size: 18px;
   }

   h5 {
      display: flex;
      align-items: center;
      color: color.$primary;
      gap: 4px;

      span {
         width: 55px;
         height: 1px;
         background-color: color.$primary;
      }
   }
}

.blog-comments-list {
   display: flex;
   flex-direction: column;
   gap: 30px;
   list-style: none;
   padding: 0;

   ul {
      list-style: none;
      padding-left: 24px;

      @media #{rs.$bp-sm} {
         padding-left: 48px;
      }

      @media #{rs.$bp-md} {
         padding-left: 64px;
      }

      @media #{rs.$bp-lg} {
         padding-left: 80px;
      }

      @media #{rs.$bp-xl} {
         padding-left: 124px;
      }
   }

   .single-comment {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .comment-img {
         img {
            width: 70px;
            max-width: 70px;
            flex: 0 0 70px;
            border-radius: 18px;

            @media #{rs.$bp-xl} {
               width: 110px;
               max-width: 110px;
               flex: 0 0 110px;
            }
         }
      }
   }
}

.comment-form {
   .form-control {
      background-color: color.$secondary;
   }
}

.tag-share-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 48px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-top: 1px solid rgba(31, 30, 33, 0.20);
   border-bottom: 1px solid rgba(31, 30, 33, 0.20);

   .tag-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 16px;
         font-weight: 600;

         a {
            border-radius: 4px;
            border: 1px solid rgba(31, 30, 33, 0.20);
            padding: 0px 12px !important;
            color: color.$text;
            transition-duration: 350ms;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:focus {
               background-color: color.$primary;
               color: color.$white;
            }
         }
      }
   }

   .share-list {
      display: flex;
      align-items: center;
      gap: 10px;

      li {
         font-size: 16px;
         font-weight: 600;

         a {
            padding: 0px 6px !important;
            color: color.$text;
            font-size: 18px;

            &:hover,
            &:focus {
               color: color.$primary;
            }
         }
      }
   }
}

.blog-card-two {
   .post-img {
      margin-bottom: 30px;
      border-radius: 18px;

      img {
         width: 100%;
         border-radius: 18px;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$heading;
      font-weight: 600;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      transition: background-size 0.5s ease;
      font-size: 24px;

      @media #{rs.$bp-md} {
         font-size: 30px;
      }

      @media #{rs.$bp-xl} {
         font-size: 36px;
      }

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }

   .blog-meta {
      a {
         color: color.$text;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }
   }
}

.blog-list-wrapper {
   display: flex;
   flex-direction: column;
   gap: 60px;

   @media #{rs.$bp-lg} {
      gap: 80px;
   }
}

.single-blog-content {
   img {
      border-radius: 18px;
      width: 100%;
   }

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6 {
      margin-bottom: 0;
   }

   p {
      font-size: 16px;
      margin-bottom: 0;

      @media #{rs.$bp-lg} {
         font-size: 18px;
      }
   }

   .post-title {
      position: relative;
      z-index: 1;
      color: color.$heading;
      font-weight: 600;
      line-height: 1.5;
      transition-duration: 350ms;
      background-image: none;
      transition: background-size 0.5s ease;

      &:hover,
      &:focus {
         background-size: 100% 2px;
      }
   }
}