@use 'rs';
@use 'color';

/* Breadcrumb CSS */

.breadcrumb-section {
   position: relative;
   z-index: 1;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(96, 31, 235, 0.90) 0.78%, rgba(34, 34, 34, 0.90) 96.97%);
      z-index: -10;
   }

   .breadcrumb-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 112px;

      h2 {
         color: color.$white;
         text-align: center;
         font-size: 32px;

         @media #{rs.$bp-sm} {
            font-size: 42px;
         }

         @media #{rs.$bp-md} {
            font-size: 48px;
         }

         @media #{rs.$bp-lg} {
            font-size: 56px;
         }

         @media #{rs.$bp-xl} {
            font-size: 64px;
         }

         @media #{rs.$bp-xxl} {
            font-size: 80px;
         }
      }

      ul {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         gap: 10px;

         li {
            color: color.$white;
            font-size: 13px;

            @media #{rs.$bp-sm} {
               font-size: 14px;
            }

            @media #{rs.$bp-md} {
               font-size: 16px;
            }

            a {
               color: rgba(255, 255, 255, 0.80);
               font-size: 13px;
               position: relative;
               z-index: 1;
               padding-right: 20px;
               transition: all 0.3s ease;

               @media #{rs.$bp-sm} {
                  font-size: 14px;
               }

               @media #{rs.$bp-md} {
                  font-size: 16px;
               }

               &:hover,
               &:focus {
                  color: color.$white;
               }

               &::after {
                  content: '\ea61';
                  position: absolute;
                  right: -5px;
                  top: 55%;
                  transform: translateY(-50%);
                  font-family: "tabler-icons";
                  font-size: 16px;
               }
            }
         }
      }
   }
}