// Primary
$primary: #601FEB;

// Primary Two
$primary-two: #2B4DFF;

// Primary Hover
$primary-hover: #2d1feb;

// Secondary
$secondary: #F7F7FC;

// Secondary Hover
$secondary-hover: #F2F5FA;

// Heading
$heading: #222222;

// Heading Two
$heading-two: #0A165E;

// Text
$text: #1F1E21;

// Text Hover
$text-hover: #585B6F;

// Border
$border: rgba(31, 30, 33, 0.30);

// Background
$bg: #222222;

// Gray
$gray: #F7F7FC;

// White
$white: #FFFFFF;

// Success
$success: #198754;

// Warning
$warning: #FFC107;

// Warning Hover
$warning-hover: #ECB014;

// Info
$info: #0DCAF0;

// Danger
$danger: #DC3545;