@use 'rs';
@use 'color';

/* Contact CSS */

.have-question-card {
    border-radius: 18px;
    background: color.$secondary;
    padding: 40px 30px;
}

.form-control {
    border-radius: 8px;
    background: color.$white;
    height: 54px;
    font-size: 16px;
    border: 0;
    padding: 20px;

    &:focus {
        box-shadow: none;
    }

    &::placeholder {
        color: #999;
    }
}

textarea {
    &.form-control {
        min-height: 130px;
    }
}

.contact-small-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 30px;
    border-radius: 18px;
    background-color: color.$secondary;
    transition: all 350ms;

    @media #{rs.$bp-lg} {
        padding: 40px;
    }

    .icon {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: color.$primary;
        color: color.$white;
    }

    div> {
        div {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;

            @media #{rs.$bp-xl} {
                font-size: 24px;
            }
        }

        p {
            font-size: 16px;
            opacity: 0.7;
        }
    }
}

.phone-number-card {
    position: relative;
    z-index: 1;
    border-radius: 18px;

    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 0%, color.$heading 100%);
    }

    img {
        width: 100%;
        border-radius: 18px;
    }

    .d-flex {
        position: absolute;
        z-index: 200;
        bottom: 40px;
        left: 40px;
        width: calc(100% - 80px);
    }
}

.maps-section {
    background-color: color.$secondary;
    transform: translateY(-6px);

    iframe {
        border: 0 !important;
        width: 100%;
        height: 300px;
        transform: translateY(12px);

        @media #{rs.$bp-sm} {
            height: 400px;
        }

        @media #{rs.$bp-md} {
            height: 500px;
        }

        @media #{rs.$bp-lg} {
            height: 600px;
        }

        @media #{rs.$bp-xl} {
            height: 700px;
        }
    }
}