@use 'rs';
@use 'color';

/* CTA CSS */

.cta-wrapper {
   background-color: color.$bg;

   h2 {
      color: color.$white;
      font-size: clamp(36px, 5vw, 80px);
      line-height: 1.2;
      font-weight: 700;
   }

   p {
      color: color.$white;
      margin-bottom: 40px;

      @media #{rs.$bp-xl} {
         font-size: 18px;
      }
   }
}

.cta-card {
   position: relative;
   border-radius: 20px;
   padding: 36px;
   background: rgba(color.$primary, 0.7);
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 24px;

   @media #{rs.$bp-sm} {
      padding: 44px 36px;
      gap: 30px;
   }

   @media #{rs.$bp-md} {
      padding: 60px 44px;
      gap: 38px;
   }

   @media #{rs.$bp-xl} {
      background: color.$primary;
   }

   .total-clients-wrap {
      border-radius: 20px;
      background: color.$white;
      padding: 32px 24px;
      display: flex;
      flex-direction: column;
      max-width: 130px;
      align-items: center;
      justify-content: space-between;

      @media #{rs.$bp-sm} {
         padding: 44px 32px;
         max-width: 168px;
      }

      .total-number {
         width: 190px;
         transform: rotate(-90deg) translate(-30px);
         margin-bottom: 24px;

         h3 {
            color: color.$heading;
            font-size: 50px;
            margin-bottom: 0 !important;
            font-weight: 600;
         }

         p {
            color: color.$text;
            margin-bottom: 0 !important;
         }
      }

      .clients-images {
         display: flex;
         align-items: center;
         flex-direction: column;

         img {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
            flex: 0 0 80px;
            width: 80px;
            height: 80px;
            border-radius: 80px;
            border: 2px solid color.$heading;
            transform: rotate(-90deg);
            position: relative;

            &:first-child {
               transform: rotate(-90deg) translateX(-90px);
               z-index: 30;
            }

            &:nth-child(2) {
               transform: rotate(-90deg) translateX(-60px);
               z-index: 20;
            }

            &:nth-child(3) {
               transform: rotate(-90deg) translateX(-30px);
               z-index: 10;
            }

            &:nth-child(4) {
               transform: rotate(-90deg) translateX(0px);
            }
         }
      }
   }

   .cta-stats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      >div {
         border-bottom: 1px solid rgba(255, 255, 255, 0.30);
         padding-bottom: 20px;

         &:last-child {
            border-bottom: none;
            padding-bottom: 0;
         }
      }

      h2 {
         color: color.$white;
         font-size: 36px;
         margin-bottom: 0;

         @media #{rs.$bp-md} {
            font-size: 42px;
         }

         @media #{rs.$bp-xl} {
            font-size: 50px;
         }
      }

      p {
         color: color.$white;
         font-size: 16px;

         @media #{rs.$bp-lg} {
            font-size: 18px;
         }
      }
   }
}