@use 'rs';
@use 'color';

/* FAQ CSS */

.faq-accordion {
   .accordion {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   .accordion-item {
      background-color: color.$secondary-hover;
      border-radius: 10px;
      border: 0;

      .accordion-button {
         border-radius: 10px;
         background: transparent;
         color: color.$heading-two;
         font-size: 20px;
         font-weight: 600;
         padding: 20px;

         &:focus {
            box-shadow: none !important;
         }

         &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.0003 15.8338C9.83477 15.8348 9.67271 15.7865 9.53478 15.695C9.39685 15.6035 9.28929 15.4729 9.22581 15.3201C9.16234 15.1672 9.14583 14.9989 9.17839 14.8366C9.21095 14.6743 9.2911 14.5254 9.40862 14.4088L13.8253 10.0005L9.40862 5.59218C9.2721 5.43276 9.20076 5.2277 9.20886 5.01797C9.21696 4.80824 9.30391 4.60929 9.45232 4.46087C9.60073 4.31246 9.79968 4.22552 10.0094 4.21742C10.2191 4.20932 10.4242 4.28066 10.5836 4.41718L15.5836 9.41718C15.7388 9.57331 15.826 9.78452 15.826 10.0047C15.826 10.2248 15.7388 10.436 15.5836 10.5922L10.5836 15.5922C10.4284 15.7461 10.2189 15.8329 10.0003 15.8338Z' fill='%23585B6F'/%3E%3Cpath d='M5.00029 15.8341C4.83477 15.8351 4.67271 15.7868 4.53478 15.6952C4.39685 15.6037 4.28929 15.4732 4.22581 15.3204C4.16234 15.1675 4.14583 14.9992 4.17839 14.8369C4.21095 14.6746 4.2911 14.5257 4.40862 14.4091L8.82529 10.0008L4.40862 5.59247C4.2517 5.43555 4.16355 5.22272 4.16355 5.00081C4.16355 4.77889 4.2517 4.56606 4.40862 4.40914C4.56554 4.25222 4.77837 4.16406 5.00029 4.16406C5.22221 4.16406 5.43504 4.25222 5.59196 4.40914L10.592 9.40914C10.7472 9.56527 10.8343 9.77648 10.8343 9.99664C10.8343 10.2168 10.7472 10.428 10.592 10.5841L5.59196 15.5841C5.51478 15.6629 5.42274 15.7255 5.32118 15.7684C5.21961 15.8113 5.11055 15.8337 5.00029 15.8341Z' fill='%23585B6F'/%3E%3C/svg%3E");
         }

         &:not(.collapsed) {
            box-shadow: none;
            border-radius: 10px 10px 0 0;
            color: color.$primary-two;

            &::after {
               background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M4.16615 10.0003C4.16519 9.83477 4.21354 9.67271 4.30505 9.53478C4.39655 9.39685 4.52705 9.28929 4.67992 9.22581C4.83279 9.16234 5.0011 9.14583 5.16339 9.17839C5.32568 9.21095 5.4746 9.2911 5.59115 9.40862L9.99949 13.8253L14.4078 9.40862C14.5672 9.2721 14.7723 9.20076 14.982 9.20886C15.1918 9.21696 15.3907 9.30391 15.5391 9.45232C15.6875 9.60073 15.7745 9.79968 15.7826 10.0094C15.7907 10.2191 15.7193 10.4242 15.5828 10.5836L10.5828 15.5836C10.4267 15.7388 10.2155 15.826 9.99532 15.826C9.77517 15.826 9.56396 15.7388 9.40782 15.5836L4.40782 10.5836C4.25387 10.4284 4.16708 10.2189 4.16615 10.0003Z' fill='%232B4DFF'/%3E%3Cpath d='M4.16586 5.00029C4.1649 4.83477 4.21325 4.67271 4.30475 4.53478C4.39625 4.39685 4.52676 4.28929 4.67963 4.22581C4.83249 4.16234 5.0008 4.14583 5.16309 4.17839C5.32538 4.21095 5.4743 4.2911 5.59086 4.40862L9.99919 8.82529L14.4075 4.40862C14.5644 4.2517 14.7773 4.16355 14.9992 4.16355C15.2211 4.16355 15.4339 4.2517 15.5909 4.40862C15.7478 4.56554 15.8359 4.77837 15.8359 5.00029C15.8359 5.22221 15.7478 5.43504 15.5909 5.59196L10.5909 10.592C10.4347 10.7472 10.2235 10.8343 10.0034 10.8343C9.78321 10.8343 9.572 10.7472 9.41586 10.592L4.41586 5.59196C4.33712 5.51478 4.27448 5.42274 4.23157 5.32118C4.18865 5.21961 4.16632 5.11055 4.16586 5.00029Z' fill='%232B4DFF'/%3E%3C/svg%3E");
               transform: rotate(360deg);
            }
         }
      }

      .accordion-body {
         padding: 0 20px 20px;
         color: color.$text-hover;
         font-size: 16px;
         border-radius: 0 0 10px 10px;
      }
   }

   &.style-two {
      .accordion-item {
         background-color: transparent;

         .accordion-button {
            &::after {
               background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 12.9961H13V17.9961C13 18.2613 12.8946 18.5157 12.7071 18.7032C12.5196 18.8907 12.2652 18.9961 12 18.9961C11.7348 18.9961 11.4804 18.8907 11.2929 18.7032C11.1054 18.5157 11 18.2613 11 17.9961V12.9961H6C5.73478 12.9961 5.48043 12.8907 5.29289 12.7032C5.10536 12.5157 5 12.2613 5 11.9961C5 11.7309 5.10536 11.4765 5.29289 11.289C5.48043 11.1015 5.73478 10.9961 6 10.9961H11V5.99609C11 5.73088 11.1054 5.47652 11.2929 5.28899C11.4804 5.10145 11.7348 4.99609 12 4.99609C12.2652 4.99609 12.5196 5.10145 12.7071 5.28899C12.8946 5.47652 13 5.73088 13 5.99609V10.9961H18C18.2652 10.9961 18.5196 11.1015 18.7071 11.289C18.8946 11.4765 19 11.7309 19 11.9961C19 12.2613 18.8946 12.5157 18.7071 12.7032C18.5196 12.8907 18.2652 12.9961 18 12.9961Z' fill='%23222222'/%3E%3C/svg%3E");
            }

            &:not(.collapsed) {
               box-shadow: none;
               border-radius: 10px 10px 0 0;
               color: color.$primary-two;
               background-color: color.$secondary;

               &::after {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18 12.9961H6C5.73478 12.9961 5.48043 12.8907 5.29289 12.7032C5.10536 12.5157 5 12.2613 5 11.9961C5 11.7309 5.10536 11.4765 5.29289 11.289C5.48043 11.1015 5.73478 10.9961 6 10.9961H18C18.2652 10.9961 18.5196 11.1015 18.7071 11.289C18.8946 11.4765 19 11.7309 19 11.9961C19 12.2613 18.8946 12.5157 18.7071 12.7032C18.5196 12.8907 18.2652 12.9961 18 12.9961Z' fill='%23601FEB'/%3E%3C/svg%3E");
               }
            }
         }

         .accordion-body {
            background-color: color.$secondary;
         }
      }

      &.faq-page {
         .accordion-item {
            background-color: transparent;
            border-top: 1px solid rgba(34, 34, 34, 0.30);
            border-bottom: 0;
            border-radius: 0;
   
            .accordion-button {
               border-radius: 0;
               padding-top: 26px;
               padding-bottom: 26px;
               font-size: 18px;
               color: color.$heading;
               background-color: transparent;

               @media #{rs.$bp-md} {
                  font-size: 20px;
               }

               @media #{rs.$bp-xl} {
                  font-size: 24px;
               }

               &::after {
                  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevron-down%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%209l6%206l6%20-6%22%20/%3E%3C/svg%3E");
               }
   
               &:not(.collapsed) {
                  box-shadow: none;
                  border-radius: 0;
   
                  &::after {
                     background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-chevron-up%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M6%2015l6%20-6l6%206%22%20/%3E%3C/svg%3E");
                  }
               }
            }
   
            .accordion-body {
               background-color: transparent;
               padding-bottom: 26px;
               font-size: 16px;

               @media #{rs.$bp-lg} {
                  font-size: 18px;
               }
            }
         }
      }
   }
}

.faq-contact-card {
   border-radius: 18px;
   background: color.$white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 3rem;

   @media #{rs.$bp-md} {
      flex-direction: row;
      gap: 1rem;
   }

   @media #{rs.$bp-lg} {
      gap: 3rem;
   }

   @media #{rs.$bp-xl} {
      gap: 4rem;
      padding: 40px;
   }

   @media #{rs.$bp-xxl} {
      gap: 100px;
   }

   .contact-info-card,
   .faq-contact-section,
   .faq-accordion {
      width: 100%;
      flex: 1;
      max-width: 100%;

      @media #{rs.$bp-xxl} {
         width: calc(50% - 50px);
         flex: calc(50% - 50px);
         max-width: calc(50% - 50px);
      }
   }

   .faq-contact-section {
      background-color: color.$bg;
      border-radius: 18px;
      padding: 36px 32px;

      @media #{rs.$bp-xl} {
         padding: 40px 36px;
      }

      &.style-two {
         padding: 40px 36px;

         @media #{rs.$bp-xl} {
            padding: 50px 48px;
         }
      }
   }

   .faq-contact-form {
      .form-control {
         width: 100%;
         height: 56px;
         border-radius: 0;
         color: color.$secondary;
         background-color: transparent;
         border-top: 0;
         border-right: 0;
         border-left: 0;
         border-bottom: 1px solid rgba(255, 255, 255, 0.20);
         font-size: 18px;
         padding: 0;
         transition: all 0.3s;
         font-weight: 400;

         &::placeholder {
            color: color.$secondary;
            opacity: 0.7;
         }

         &:focus {
            box-shadow: none;
         }
      }

      textarea {
         &.form-control {
            height: 120px;
         }
      }

      &.style-two {
         .form-control {
            color: color.$text;
            border-bottom: 1px solid color.$border;
   
            &::placeholder {
               color: color.$text;
               opacity: 0.7;
            }
   
            &:focus {
               box-shadow: none;
            }
         }
      }
   }
}

.faq-video-content {
   position: relative;
   border-radius: 50%;

   img {
      border-radius: 50%;
   }

   .play-video-btn {
      .icon {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 74px;
         height: 74px;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: color.$primary;
         color: color.$white;
         transition: all 0.3s;
         cursor: pointer;

         i {
            font-size: 24px;
         }

         &:hover,
         &:focus {
            background-color: color.$bg;
         }
      }
   }
}

.faq-thumbnail {
   position: relative;
   z-index: 1;
   width: 100%;

   .shape1>img {
      position: absolute;
      top: 2rem;
      left: 10px;
      max-width: 100%;
      width: auto;
      height: calc(100% - 2rem);
      z-index: -10;
      object-fit: cover;
   }

   .faq-big-img {
      width: 270px;
      height: 270px;
      object-fit: cover;
      border-radius: 50%;
      border: 15px solid color.$white;
      box-shadow: 0px 4.914px 30.714px 0px rgba(0, 0, 0, 0.06);
      margin-bottom: 32px;
      margin-left: 42px;

      @media #{rs.$bp-sm} {
         width: 400px;
         height: 400px;
         margin-left: 48px;
      }

      @media #{rs.$bp-md} {
         width: 500px;
         height: 500px;
         margin-left: 70px;
      }

      @media #{rs.$bp-lg} {
         width: 400px;
         height: 400px;
         margin-left: 70px;
      }

      @media #{rs.$bp-xxl} {
         width: 500px;
         height: 500px;
         margin-left: 106px;
      }
   }

   .faq-video-content {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 10px solid color.$white;
      box-shadow: 0px 4.914px 30.714px 0px rgba(0, 0, 0, 0.06);
      position: absolute;
      left: 5%;
      bottom: 0;
      z-index: 10;

      @media #{rs.$bp-sm} {
         width: 300px;
         height: 300px;
         left: 0;
      }

      @media #{rs.$bp-md} {
         width: 348px;
         height: 348px;
      }

      @media #{rs.$bp-lg} {
         width: 270px;
         height: 270px;
      }

      @media #{rs.$bp-xxl} {
         width: 348px;
         height: 348px;
      }

      .play-video-btn {
         .icon {
            width: 62px;
            height: 62px;
            background-color: color.$white;
            color: color.$primary;

            &::after {
               content: '';
               position: absolute;
               top: -5px;
               left: -5px;
               width: calc(100% + 10px);
               height: calc(100% + 10px);
               border-radius: 50%;
               border: 1.229px solid color.$white;
               background-color: transparent;
            }

            &::before {
               content: '';
               position: absolute;
               top: -12px;
               left: -12px;
               width: calc(100% + 24px);
               height: calc(100% + 24px);
               border-radius: 50%;
               border: 1.229px solid color.$white;
               background-color: transparent;
            }

            i {
               font-size: 20px;
            }

            &:hover,
            &:focus {
               background-color: color.$primary;
               color: color.$white;
            }
         }
      }
   }
}

/* Happy Counts */

.happy-counts {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   width: 240px;
   height: 240px;
   border-radius: 50%;
   border: 1px solid color.$primary-two;
   position: relative;
   z-index: 1;
   margin-left: auto;
   margin-right: auto;

   @media #{rs.$bp-lg} {
      width: 200px;
      height: 200px;
      gap: 10px;
   }

   @media #{rs.$bp-xl} {
      width: 250px;
      height: 250px;
      gap: 15px;
   }

   @media #{rs.$bp-xxl} {
      width: 285px;
      height: 285px;
   }

   &::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      border-radius: 50%;
      background-color: color.$secondary-hover;
      z-index: -10;
   }

   .counter {
      font-size: 48px;
      color: #353E74;
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1.1;

      @media #{rs.$bp-xl} {
         font-size: 60px;
      }

      @media #{rs.$bp-xxl} {
         font-size: 80px;
      }
   }

   h5 {
      color: #353E74;
      margin-bottom: 0;
      font-size: 1rem;

      @media #{rs.$bp-xl} {
         font-size: 1.25rem;
      }
   }
}

.faq-wrapper {
   position: relative;
   z-index: 1;

   .bg-shape {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      opacity: 0.04;
      text-align: right;

      img {
         width: auto;
         height: 100%;
         object-fit: cover;
      }
   }

   .row {
      .col-12:nth-child(odd) {
         .happy-counts {
            @media #{rs.$bp-lg} {
               margin-top: 60px;
            }
         }
      }
   }
}

.happy-counts-section {
   background-color: color.$primary;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;

   .happy-counts {
      border-color: color.$white;

      .counter {
         color: color.$heading;
      }

      h5 {
         color: color.$heading;
      }
   }

   .row {
      .col-12:nth-child(odd) {
         .happy-counts {
            @media #{rs.$bp-lg} {
               margin-top: 60px;
            }
         }
      }
   }
}