@use 'rs';
@use 'color';

/* Footer CSS */

.footer-card {
   position: relative;
   display: flex;
   flex-direction: column;

   .card-title {
      position: relative;
      z-index: 1;

      &::before {
         width: 60px;
         height: 2px;
         bottom: -15px;
         left: 0;
         content: '';
         position: absolute;
         z-index: 0;
         border-radius: 2px;
         background: linear-gradient(180deg, color.$primary 0%, #C700B1 100%);
      }

      &::after {
         width: 10px;
         height: 2px;
         bottom: -15px;
         left: 65px;
         content: '';
         position: absolute;
         z-index: 0;
         border-radius: 2px;
         background: linear-gradient(180deg, color.$primary 0%, #C700B1 100%);
      }
   }

   .social-nav {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 40px;

      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 44px;
         height: 44px;
         background-color: color.$secondary;
         border-radius: 6px;
         font-size: 20px;
         color: color.$heading;
         transition: all 350ms ease;

         &:hover,
         &:focus {
            background-color: color.$primary;
            border-color: color.$primary;
            color: color.$white;
         }
      }
   }

   .footer-nav {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      padding-left: 0;

      li {
         a {
            position: relative;
            z-index: 1;
            color: color.$text;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 400;

            &::before {
               width: 2px;
               height: 100%;
               top: 0;
               left: 0;
               content: '';
               position: absolute;
               z-index: 0;
               background-color: color.$primary;
               transition: all 350ms ease;
               visibility: hidden;
               opacity: 0;
            }

            &:hover,
            &:focus {
               color: color.$primary;
               padding-left: 0.5rem;

               &::before {
                  visibility: visible;
                  opacity: 1;
               }
            }
         }
      }
   }

   .subscribe-form {
      position: relative;
      z-index: 1;

      .form-control {
         border-radius: 8px;
         background: color.$white;
         width: 100%;
         height: 60px;
         position: relative;
         z-index: 1;
         color: #5B5B5B;
         font-size: 16px;
         font-weight: 400;
         border: 0;
         padding-left: 20px;
         padding-right: 80px;

         &::placeholder {
            color: #5B5B5B;
            opacity: 1;
         }

         &:focus {
            box-shadow: none;
            outline: none;
            border: 0;
         }
      }

      .btn {
         position: absolute;
         top: 6px;
         right: 6px;
         z-index: 100;
         padding: 0;
         height: 48px;
      }
   }

   .recent-post {
      display: flex;
      align-items: center;
      gap: 14px;

      .thumbnail {
         width: 60px;
         height: 60px;
         border-radius: 8px;
         flex-shrink: 0;

         @media #{rs.$bp-lg} {
            width: 50px;
            height: 50px;
         }

         @media #{rs.$bp-xl} {
            width: 60px;
            height: 60px;
         }

         @media #{rs.$bp-xxl} {
            width: 80px;
            height: 80px;
         }

         img {
            border-radius: 8px;
            width: 100%;
         }
      }

      .content {
         p {
            color: color.$primary;
            display: flex;
            align-items: center;
            gap: 4px;

            i {
               font-size: 20px;
            }
         }

         .post-link {
            color: color.$white;
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-clamp: 2;

            &:hover,
            &:focus {
               color: color.$primary;
            }
         }
      }
   }
}

.copyright-wrapper {
   background-color: color.$secondary;
   padding-top: 32px;
   padding-bottom: 32px;

   .copyright {
      font-size: 16px;
      color: color.$text;
      display: flex;
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;

      @media #{rs.$bp-xl} {
         font-size: 18px;
      }

      a {
         font-size: 16px;

         @media #{rs.$bp-xl} {
            font-size: 18px;
         }

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }
   }
}

.footer-bottom-nav {
   display: flex;
   align-items: center;
   gap: 16px;
   flex-wrap: wrap;
   justify-content: flex-start;

   @media #{rs.$bp-md} {
      justify-content: flex-end;
   }

   a {
      color: color.$text;
      font-size: 16px;
      line-height: 1.4;
      text-transform: capitalize;

      @media #{rs.$bp-sm} {
         font-size: 18px;
      }

      &:hover,
      &:focus {
         color: color.$primary;
      }
   }
}

.footer-top {
   border-bottom: 1px solid rgba(255, 255, 255, 0.20);
   padding-bottom: 50px;
   margin-bottom: 30px;

   p {
      font-size: 16px;

      @media #{rs.$bp-xl} {
         font-size: 18px;
      }
   }
}

.middle-footer {
   .col-12 {
      border-right: 1px solid rgba(255, 255, 255, 0.20);

      &:last-child {
         border-right: none;
      }

      .footer-card {
         padding-left: 0.5rem;
         padding-right: 0.5rem;
      }
   }
}

.footer-wrapper {
   &.style-two {
      background-color: color.$heading-two;

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         color: color.$white;
      }

      a {
         color: color.$white;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }

      .footer-card {
         .social-nav a {
            color: color.$heading;

            &:hover,
            &:focus {
               color: color.$white;
               background-color: color.$primary;
            }
         }

         .footer-nav {
            li {
               a {
                  color: color.$white;

                  &:hover,
                  &:focus {
                     color: color.$primary;
                  }
               }
            }
         }
      }

      .copyright-wrapper {
         border: 1px solid rgba(255, 255, 255, 0.20);
         background-color: color.$heading-two;
      }

   }

   &.style-three {
      background-color: color.$bg;
      position: relative;
      z-index: 1;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
         background-image: url('assets/img/core-img/shape10.png');
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
      }

      .copyright-wrapper {
         margin-top: 30px;
         background-color: transparent;
         border-top: 1px solid rgba(255, 255, 255, 0.20);

         .copyright {
            color: color.$white;

            a {
               color: color.$white;

               &:hover,
               &:focus {
                  color: color.$primary;
               }
            }
         }
      }

      .footer-bottom-nav a {
         color: color.$white;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }

      .footer-nav {
         li a {
            color: color.$white;

            &:hover,
            &:focus {
               color: color.$primary;
            }
         }
      }

      .social-nav a {
         background: color.$secondary;
         color: color.$heading;

         &:hover,
         &:focus {
            background: linear-gradient(180deg, color.$primary 0%, #C700B1 100%);
            color: color.$white;
         }
      }
   }

   &.style-four {
      position: relative;
      z-index: 1;
      padding-top: 100px;

      .bg-dark-shade {
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: calc(100% - 150px);
         background-color: color.$heading;
         z-index: -10;
      }

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 12%;
         width: 264px;
         height: 114px;
         background-image: url("assets/img/core-img/shape20.png");
         background-repeat: no-repeat;
         background-size: contain;
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: -1;
         background-image: url('assets/img/core-img/shape19.png');
         background-repeat: no-repeat;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         color: color.$white;
      }

      a {
         color: color.$white;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }

      .footer-card {
         .social-nav a {
            color: color.$white;
            background-color: #2F2F2F;
            width: 44px;
            height: 44px;

            &:hover,
            &:focus {
               color: color.$white;
               background-color: color.$primary;
            }
         }

         .footer-nav {
            li {
               a {
                  color: color.$white;

                  &:hover,
                  &:focus {
                     color: color.$primary;
                  }
               }
            }
         }
      }

      .copyright-wrapper {
         border: 1px solid rgba(255, 255, 255, 0.30);
         background-color: color.$heading;
      }
   }
}