@use 'rs';
@use 'color';

/* Hero CSS */

.hero-content {
   h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.15;

      @media #{rs.$bp-sm} {
         font-size: 36px;
      }

      @media #{rs.$bp-md} {
         font-size: 48px;
      }

      @media #{rs.$bp-lg} {
         font-size: 56px;
      }

      @media #{rs.$bp-xxl} {
         font-size: 76px;
      }

      span {
         color: color.$primary;
      }
   }

   p {
      font-size: 16px;
      margin-bottom: 32px;

      @media #{rs.$bp-xl} {
         font-size: 18px;
         margin-bottom: 44px;
      }
   }

   .play-video-btn {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      .icon {
         width: 60px;
         height: 60px;
         border-radius: 50%;
         background-color: transparent;
         display: flex;
         align-items: center;
         justify-content: center;
         color: color.$white;
         font-size: 24px;
         transition: all 350ms ease;
         border: 1px solid color.$white;

         &:hover,
         &:focus {
            background-color: color.$primary;
            border-color: color.$primary;
            color: color.$white;
         }
      }

      span {
         font-size: 16px;
         font-weight: 600;
         color: color.$white;
      }
   }

   .member-list {
      background-color: color.$bg;
      padding: 10px 20px;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      gap: 40px;

      h2 {
         font-size: 30px;
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgba(255, 255, 255, 0.10);
         font-weight: 700;
         color: color.$white;
         line-height: 1.1;

         span {
            color: color.$white;
         }

         .title {
            font-size: 18px;
         }
      }

      .img-list {
         display: flex;
         align-items: center;
         border-radius: 50%;
         position: relative;
         z-index: 1;
         width: 190px;

         img {
            position: absolute;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            object-fit: cover;

            &:nth-child(2) {
               left: 32px;
            }

            &:nth-child(3) {
               left: 64px;
            }

            &:nth-child(4) {
               left: 96px;
            }

            &:nth-child(5) {
               left: 128px;
            }
         }
      }
   }
}

.hero-thumbnail {
   position: relative;
   z-index: 1;

   .hero-img-one {
      width: 100%;
      border: 10px solid color.$white;
      border-radius: 25px;
   }

   .hero-img-two {
      width: 100%;
      position: relative;
      z-index: 1;

      &::after {
         border-radius: 20px;
         border: 2px dashed color.$white;
         background: transparent;
         content: '';
         top: 10px;
         left: 10px;
         width: calc(100% - 20px);
         height: calc(100% - 20px);
         position: absolute;
         z-index: 0;
      }

      img {
         border-radius: 20px;
      }
   }

   .star-img {
      position: absolute;
      top: 10%;
      right: 5%;
      z-index: 0;
   }
}

.hero-section {
   position: relative;
   z-index: 1;
   background-color: color.$bg;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 112px;

   @media #{rs.$bp-lg} {
      padding-top: 150px;
   }

   &.style-two {
      padding-top: 62px;

      @media #{rs.$bp-lg} {
         padding-top: 100px;
      }

      &::after {
         content: '';
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         position: absolute;
         background: rgba(10, 22, 94, 0.90);
         z-index: -10;
      }
   }

   &.style-three {
      padding-top: 95px;
      overflow: hidden;

      @media #{rs.$bp-lg} {
         padding-top: 130px;
      }

      .hero-thumbnail {
         top: 60px;

         @media #{rs.$bp-sm} {
            top: 70px;
         }

         @media #{rs.$bp-md} {
            top: 88px;
         }

         @media #{rs.$bp-lg} {
            top: 98px;
         }

         @media #{rs.$bp-xl} {
            top: 108px;
         }

         @media #{rs.$bp-xxl} {
            top: 124px;
         }
      }
   }

   &.style-four {
      background-color: color.$primary;
      overflow: hidden;

      .bg-curve {
         position: absolute;
         bottom: -1px;
         left: 0;
         width: 100%;
         height: 19px;
         background-image: url('assets/img/core-img/shape14.png');
         background-repeat: no-repeat;
         background-size: cover;
         z-index: 10;
      }

      .hero-content {
         h2 {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.15;

            @media #{rs.$bp-sm} {
               font-size: 36px;
            }

            @media #{rs.$bp-md} {
               font-size: 48px;
            }

            @media #{rs.$bp-lg} {
               font-size: 64px;
            }

            @media #{rs.$bp-xl} {
               font-size: 78px;
            }

            @media #{rs.$bp-xxl} {
               font-size: 100px;
            }
         }
      }
   }
}