@use 'rs';
@use 'color';

/* Shortcode CSS */

/* Flaticon */

@font-face {
    font-family: "flaticon_reland";
    src: url("assets/fonts/flaticon_reland.woff2?3dc1d204e002249b1c5ccacad8d70f08") format("woff2"),
        url("assets/fonts/flaticon_reland.woff?3dc1d204e002249b1c5ccacad8d70f08") format("woff"),
        url("assets/fonts/flaticon_reland.eot?3dc1d204e002249b1c5ccacad8d70f08#iefix") format("embedded-opentype"),
        url("assets/fonts/flaticon_reland.ttf?3dc1d204e002249b1c5ccacad8d70f08") format("truetype"),
        url("assets/fonts/flaticon_reland.svg?3dc1d204e002249b1c5ccacad8d70f08#flaticon_reland") format("svg")
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon_reland !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-swimming-pool:before {
    content: "\f101";
}

.flaticon-service:before {
    content: "\f102";
}

.flaticon-increasing:before {
    content: "\f103";
}

.flaticon-data-science:before {
    content: "\f104";
}

.flaticon-machine-learning:before {
    content: "\f105";
}

.flaticon-ai:before {
    content: "\f106";
}

.flaticon-data-warehouse:before {
    content: "\f107";
}

.flaticon-technology:before {
    content: "\f108";
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(47, 91, 234, .075) !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(47, 91, 234, .15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(47, 91, 234, .175) !important;
}

.border,
.border-end,
.border-start,
.border-top,
.border-bottom {
    border-color: rgba(38, 38, 41, 0.30) !important;
}

ul li,
ol li {
    line-height: 1.75;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 12px 16px 12px 20px;
    border-radius: 6px;
    border: 0;
    font-weight: 600;
    position: relative;
    height: 48px;
    min-width: auto;
    text-transform: capitalize;
    overflow: hidden;
    gap: 4px;
    transition: all 350ms;

    @media #{rs.$bp-xl} {
        padding: 12px 26px 12px 30px;
        height: 60px;
    }

    i {
        font-size: 22px;
    }

    &:hover,
    &:focus {
        box-shadow: none;
    }
}

.btn-primary {
    background-color: color.$primary;
    color: color.$white;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$heading;
        color: color.$white;
    }
}

.btn-dark {
    background-color: color.$bg;
    color: color.$white !important;

    &:active,
    &:hover,
    &:focus {
        background-color: color.$white;
        color: color.$primary !important;
    }
}

.btn-outline-light {
    border: 1px solid;
    border-color: color.$white !important;
    color: color.$white;

    &:hover,
    &:focus {
        background-color: color.$primary;
        border-color: color.$primary !important;
        color: color.$white;
    }
}

.btn-outline-dark {
    border: 1px solid color.$bg !important;
    color: color.$bg;

    &:hover,
    &:focus {
        background-color: color.$bg;
        border-color: color.$bg !important;
        color: color.$white;
    }
}

.btn-outline-primary {
    border: 1px solid color.$primary !important;
    color: color.$primary;

    &:hover,
    &:focus {
        background-color: color.$primary;
        border-color: color.$primary !important;
        color: color.$white;
    }
}

.btn-hover-border {
    border: 2px solid color.$primary !important;

    &:hover,
    &:focus {
        border: 2px solid color.$primary !important;
    }
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .375rem .75rem;
    font-size: 12px;
    height: 37px;
    min-width: 100px;
}

.btn-link {
    position: relative;
    z-index: 1;
    color: color.$heading;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 0 !important;
    min-width: 0;
    height: auto;

    i {
        font-size: 20px;
        transition-duration: 350ms;
    }

    &:active,
    &:hover,
    &:focus {
        color: color.$primary;
        box-shadow: none;
        gap: 12px;
    }
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-overlay {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        background-color: color.$bg;
        opacity: 0.5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.bg-primary {
    background-color: color.$primary !important;
}

.bg-secondary {
    background-color: color.$secondary !important;
}

.bg-dark {
    background-color: color.$bg !important;
}

.bg-dark-secondary {
    background-color: color.$text-hover !important;
}

.text-primary {
    color: color.$primary !important;
}

.text-dark {
    color: color.$text !important;
}

.text-heading {
    color: color.$heading !important;
}

.softora-scrolltop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all 350ms;
    z-index: 9999;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    color: color.$white;
    cursor: pointer;
    transform: translateY(100px);
    border-radius: 50%;
    border: 0 !important;
    box-shadow: none;
    background-color: color.$bg;

    span {
        font-size: 1.75rem;
    }

    &.scrolltop-show {
        transform: translateY(0);
    }

    &.scrolltop-hide {
        transform: translateY(100px);
    }

    @media #{rs.$bp-lg} {
        width: 3rem;
        height: 3rem;
        bottom: 2rem;
        right: 2rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background: conic-gradient(color.$primary var(--scroll-progress), color.$bg 0);
        z-index: -1;
    }
}

.divider {
    width: 100%;
    display: block;
    height: 60px;

    @media #{rs.$bp-sm} {
        height: 70px;
    }

    @media #{rs.$bp-md} {
        height: 88px;
    }

    @media #{rs.$bp-lg} {
        height: 98px;
    }

    @media #{rs.$bp-xl} {
        height: 108px;
    }

    @media #{rs.$bp-xxl} {
        height: 124px;
    }
}

.divider-sm {
    width: 100%;
    display: block;
    height: 60px;
}

.section-heading {
    .sub-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 1rem;
        display: inline-flex;
        padding: 10px 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: rgba(96, 31, 235, 0.10);
        text-transform: capitalize;
    }

    h2 {
        font-size: clamp(30px, 4vw, 50px);
        line-height: 1.2;
        text-transform: capitalize;
    }

    p {
        @media #{rs.$bp-xl} {
            font-size: 18px;
        }
    }

    &.style-two {
        .sub-title {
            background: rgba(255, 255, 255, 0.10);
            color: color.$white;
        }
    }
}

.rotatingImage {
    transition: transform 0.1s linear;
}

.search-bg-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: color.$bg;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 1200;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;

    &.open {
        opacity: 0.8;
        visibility: visible;
    }
}

.search-form-popup {
    position: fixed;
    z-index: 1500;
    padding: 40px 32px;
    background-color: color.$white;
    left: 50%;
    top: 50%;
    min-width: 280px;
    border-radius: 18px;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
    transform: scale(0.9) translate(-50%, -50%);

    @media #{rs.$bp-xs} {
        min-width: 360px;
    }

    @media #{rs.$bp-md} {
        min-width: 500px;
        padding: 60px 50px;
    }

    .close-btn {
        position: absolute;
        top: -1rem;
        right: -1rem;
        z-index: 1000;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{rs.$bp-md} {
            width: 60px;
            height: 60px;
            top: -2rem;
            right: -2rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .form-control {
            width: 100%;
            height: 48px;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            background-color: transparent;
            color: color.$bg;
            font-size: 16px;
            padding: 17px 24px;

            @media #{rs.$bp-xl} {
                font-size: 18px;
                height: 64px;
            }

            &::placeholder {
                color: color.$bg;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            border-radius: 8px;

            @media #{rs.$bp-xl} {
                height: 64px;
            }
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translate(-50%, -50%);
    }
}