@use 'rs';
@use 'color';

/* Pricing CSS */

.price-banner-card {
   position: relative;
   z-index: 1;
   padding: 40px 36px 0 36px;
   border-radius: 10px;
   background: color.$heading-two;
   overflow: hidden;

   img {
      width: 100%;
   }

   &::before {
      content: "";
      position: absolute;
      bottom: -310px;
      left: 50%;
      width: 500px;
      height: 500px;
      background-color: color.$primary-two;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: -10;

      @media #{rs.$bp-sm} {
         width: 600px;
         height: 600px;
      }

      @media #{rs.$bp-md} {
         width: 450px;
         height: 450px;
      }

      @media #{rs.$bp-lg} {
         bottom: -210px;
      }
   }
}

.price-card {
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 30px 26px;
   border-radius: 18px;
   background: color.$secondary-hover;
   flex-wrap: wrap;

   @media #{rs.$bp-lg} {
      flex-wrap: nowrap;
      gap: 60px;
   }

   @media #{rs.$bp-xl} {
      gap: 100px;
   }

   @media #{rs.$bp-xxl} {
      gap: 140px;
      padding: 38px 36px;
   }

   .pricing-value {
      transition: all 0.4s ease;

      @media #{rs.$bp-lg} {
         text-align: right;
         flex: 0 0 180px;
         width: 180px;
         max-width: 180px;
         flex-shrink: 0;
      }
   }

   .price-display {
      transition: opacity 0.4s ease;

      &.fade-out {
         opacity: 0;
      }

      &.fade-in {
         opacity: 1;
      }

      .price-amount {
         font-size: 50px;
      }

      .price-type {
         font-size: 18px;
      }
   }
}

.pricing-plan-switching {
   display: flex;
   border-radius: 6px;
   background: color.$secondary-hover;
   align-items: center;
   justify-content: center;
   gap: 2px;
   width: 222px;
   height: 42px;

   .btn {
      padding: 0;
      border: 0;
      height: 42px;
      width: 110px;
      border-radius: 6px;
      color: color.$heading-two;

      &.active {
         background: color.$primary-two;
         color: color.$white;
         pointer-events: none;
      }
   }
}

.pricing-card-two {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 28px;
   background-color: color.$secondary;
   border-radius: 18px;

   .packgae-name-price {
      padding: 24px;
      border-radius: 12px 12px 18px 18px;
      background-color: color.$white;

      .price-value {
         font-size: 28px;
         font-weight: 600;
         color: color.$primary;

         @media #{rs.$bp-md} {
            font-size: 32px;
         }

         @media #{rs.$bp-xl} {
            font-size: 36px;
         }

         @media #{rs.$bp-xxl} {
            font-size: 50px;
         }

         span {
            font-size: 16px;
            font-weight: 400;
            color: color.$text;
         }
      }
   }

   .packgae-content {
      display: flex;
      gap: 18px;
      flex-direction: column;

      li {
         font-size: 16px;
         color: color.$text;
         display: flex;
         align-items: center;
         gap: 8px;

         @media #{rs.$bp-lg} {
            font-size: 18px;
         }
      }
   }

   &.active {
      .packgae-name-price {
         background-color: color.$primary;

         h4,
         p {
            color: color.$white;
         }

         .price-value {
            color: color.$white;

            span {
               color: color.$secondary;
            }
         }
      }

      .border-top {
         border-top-color: rgba(255, 255, 255, 0.30) !important;
      }
   }
}

.pricing-section {
   .price-table {
      .col-12:nth-child(1) {
         order: 100;

         @media #{rs.$bp-md} {
            order: -10;
         }
      }
   }
}