@use 'rs';
@use 'color';

/* Showcase CSS */

.showcase-section {
   position: relative;
   z-index: 1;
   background-image: url('assets/img/core-img/grid2.jpg');
   background-size: contain;
   background-position: center bottom;
   background-repeat: no-repeat;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 240px;
      width: 100%;
      background-color: color.$white;
      z-index: -1;
   }

   .row {
      .showcase-item {
         @media #{rs.$bp-xxl} {
            margin-bottom: 64px;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }

      .showcase-item:nth-child(odd) {
         .showcase-card {
            @media #{rs.$bp-xxl} {
               padding-right: 32px;
            }
         }
      }

      .showcase-item:nth-child(even) {
         .showcase-card {
            @media #{rs.$bp-xxl} {
               padding-left: 32px;
            }
         }
      }

      .showcase-item:nth-child(2) {
         .showcase-card {
            @media #{rs.$bp-sm} {
               margin-top: 30px;
            }

            @media #{rs.$bp-md} {
               margin-top: 60px;
            }
         }
      }
   }
}

.showcase-card {
   transition: all 350ms;

   .showcase-thumb {
      transition: all 350ms;
      overflow: hidden;
      position: relative;
      z-index: 1;
      width: 100%;
      border-radius: 18px;
      margin-bottom: 30px;

      &::before {
         transition: all 350ms;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: linear-gradient(180deg, rgba(96, 31, 235, 0.00) 0%, color.$primary 100%);
         border-radius: 18px;
         z-index: 5;
         content: '';
         visibility: hidden;
         opacity: 0;
      }

      img {
         width: 100%;
         border-radius: 18px;
         transition: all 350ms;
      }

      .btn {
         transition: all 350ms;
         position: absolute;
         z-index: 100;
         top: 50%;
         left: 50%;
         transform: translate(-50%, 50%);
         width: 100px;
         height: 100px;
         display: flex;
         align-items: center;
         justify-content: center;
         color: color.$white;
         border-radius: 50%;
         background-color: color.$primary;
         visibility: hidden;
         opacity: 0;

         i {
            font-size: 32px;
            line-height: 1;
         }

         &:hover,
         &:focus {
            background-color: color.$bg;
         }
      }

      &:hover,
      &:focus {
         &::before {
            visibility: visible;
            opacity: 1;
         }

         img {
            transform: scale(1.05);
         }

         .btn {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%);
         }
      }
   }

   .showcase-content {
      p {
         color: color.$secondary;
         font-size: 18px;
         margin-bottom: 16px;
      }

      h2 {
         font-size: 24px;
         color: color.$white;
         margin-bottom: 0 !important;
         transition: all 350ms;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         line-clamp: 2;

         @media #{rs.$bp-lg} {
            font-size: 36px;
         }
      }
   }

   &:hover,
   &:focus {
      h2 {
         color: color.$primary;
      }
   }
}

.showcase-section {
   &.style-two {
      &::before {
         display: none;
      }

      .showcase-card {
         .showcase-content {
            p {
               color: color.$text;
            }

            h2 {
               color: color.$heading;
            }
         }

         &:hover,
         &:focus {
            h2 {
               color: color.$primary;
            }
         }
      }
   }
}

.project-swiper {
   width: 100%;

   @media #{rs.$bp-sm} {
      width: 120%;
   }

   @media #{rs.$bp-lg} {
      width: 125%;
   }

   @media #{rs.$bp-xl} {
      width: 130%;
   }

   @media #{rs.$bp-xxl} {
      width: 140%;
   }
}

.project-swiper-card {
   border-radius: 18px;
   background: color.$white;
   transition: all 350ms;
   position: relative;
   z-index: 1;
   overflow: hidden;

   img {
      width: 100%;
      border-radius: 18px;
   }

   .project-content {
      position: absolute;
      bottom: 28px;
      left: 28px;
      padding: 20px 24px;
      background-color: color.$white;
      border-radius: 12px;
      width: calc(100% - 56px);
      z-index: 100;

      a {
         color: color.$primary-two;
         transition: all 350ms;
         font-size: 24px;

         &:hover,
         &:focus {
            color: color.$primary;
         }
      }
   }

   &:hover,
   &:focus {
      transform: scale(0.95);
   }
}

.project-navigation-container {
   display: flex;
   align-items: center;
   gap: 20px;

   .project-button-prev,
   .project-button-next {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: color.$heading-two;
      color: color.$white;
      transition: all 350ms ease;

      i {
         font-size: 24px;
         line-height: 1;
      }

      &:hover,
      &:focus {
         background-color: color.$primary-two;
      }
   }
}

.project-two-card {
   padding: 30px;
   border-radius: 18px;
   background-color: color.$white;
   position: relative;
   z-index: 1;
   overflow: hidden;
   height: 450px;
   width: 195px;
   flex-shrink: 0;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   transition: width 0.3s ease;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 18px;
      background: linear-gradient(180deg, rgba(96, 31, 235, 0.00) 0%, color.$primary 100%);
      z-index: -10;
      visibility: hidden;
      opacity: 0;
      transition: all 350ms;
   }

   .project-two-content {
      position: absolute;
      bottom: 30px;
      left: 30px;
      width: calc(100% - 60px);
      height: auto;
      max-height: 100%;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: all 350ms;
   }

   .btn {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 100;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: color.$white;
      color: color.$heading;
      transition: all 350ms ease;
      padding: 0;
      visibility: hidden;
      opacity: 0;

      i {
         font-size: 30px;
      }

      &:hover,
      &:focus {
         background-color: color.$primary-two;
         color: color.$white;
      }
   }

   &.slide-expand {
      width: 420px !important;

      @media #{rs.$bp-lg} {
         width: 450px !important;
      }

      @media #{rs.$bp-xl} {
         width: 500px !important;
      }

      @media #{rs.$bp-xxl} {
         width: 620px !important;
      }

      &::after,
      .project-two-content,
      .btn {
         visibility: visible;
         opacity: 1;
      }
   }
}

.project-two-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 14px;
   padding-bottom: 5px;

   span {
      cursor: pointer;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: color.$white;
      opacity: 1;
      transition: all 350ms;
      position: relative;
      z-index: 1;
      margin: 0 !important;

      &::before {
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background-color: transparent;
         transition: all 350ms;
         position: absolute;
         z-index: 1;
         opacity: 0;
         border: 2px solid color.$white;
         content: '';
         top: -4px;
         left: -4px;
         visibility: hidden;
      }

      &.swiper-pagination-bullet-active {
         background-color: color.$white;

         &::before {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

.project-tab-list {
   .btn {
      padding: 0 30px;
      border: 1px solid color.$white !important;
      border-radius: 6px;
      color: color.$white;
      font-size: 16px;
      transition: all 350ms;
      height: 48px;

      &.active,
      &:hover,
      &:focus {
         border-color: color.$primary !important;
         color: color.$white;
         background-color: color.$primary;
      }
   }
}

.project-section {
   &.style-two {
      position: relative;
      z-index: 1;
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-color: #0D1312;
      background-attachment: fixed;
   }
}

.portfolio-sidebar {
   display: flex;
   flex-direction: column;
   gap: 40px;

   @media #{rs.$bp-md} {
      transform: translateY(-140px);
   }
}

.project-details-card {
   background-color: color.$secondary;
   padding: 40px 36px;
   border-radius: 18px;
   width: 100%;

   .project-info {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .label {
         font-weight: 600;
         color: color.$heading;
         display: inline-block;
         width: 100px;
         font-size: 16px;
      }

      .value {
         color: color.$text;
         font-size: 16px;
      }

      a {
         color: color.$primary;
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }
   }

   .social-nav {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 40px;

      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 44px;
         height: 44px;
         background-color: color.$white;
         border-radius: 6px;
         font-size: 20px;
         color: color.$heading;
         transition: all 350ms ease;

         &:hover,
         &:focus {
            background-color: color.$primary;
            border-color: color.$primary;
            color: color.$white;
         }
      }
   }

}

.portfolio-details-content {
   display: flex;
   flex-direction: column;
   gap: 24px;

   img {
      border-radius: 18px;
      width: 100%;
   }

   h1,
   .h1,
   h2,
   .h2,
   h3,
   .h3,
   h4,
   .h4,
   h5,
   .h5,
   h6,
   .h6 {
      margin-bottom: 0;
   }

   p {
      font-size: 16px;
      margin-bottom: 0;

      @media #{rs.$bp-lg} {
         font-size: 18px;
      }
   }
}